.filebox label, .filebox button, .input-group button, .button-group button {
    margin: auto;
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #0099ff!important;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.filebox label:hover {
    background-color: #6ed36e;
}

.filebox label:active {
    background-color: #367c36;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox input[type="text"] {
    margin: auto;
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #007bff!important;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#change_file {
    display: none;
}

.upload_file_img {
    width: 20px;
    height: 20px;
}

div.pagination_div > div span {
    margin: 2px;
    font-size: 20px;
}

div.pagination_div > div span.pagination_nowpage {
    color: blue;
    text-decoration: underline;
}

div.pagination_div > div span:hover,
h2 > .backlink:hover {
    color: #007bff;
}

body {
    padding-right: 5rem;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

button.down_button {
    margin-bottom: 5px;
}

div.notice_edit {
    text-align: right;
}

.notice_input {
    width: 100%;
}

.language_text {
    font-size: 20px;
}

.icon_center {
    text-align: center;
}